* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: large;
}
#root {
  background-image: url("./assets/superhero.jpg");
  height: 100vh;
  overflow-y: scroll;
}

img {
  display: inline;
  width: 100px;
  padding: 10px;
}

input,
button {
  outline: none;
  cursor: pointer;
  border-radius: 3px;
}

input {
  padding: 20px 30px;
  border: none;
  background-color: aliceblue;
  font-size: large;
  outline: none;
}
.btn {
  align-items: center;
  width: 150px;
  padding: 20px 30px;
  outline: none;
  border: none;
  background-color: rgb(12, 148, 0);
  color: white;
  font-size: large;
}

.error {
  color: rgb(255, 0, 0);
  font-size: 100px;
}
.input-area {
  margin: 50px auto;
  padding: 90px 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.678);
  /* opacity: 0.5; */
  max-width: 1000px;
}

h1 {
  /* border: 2px solid red; */
  max-width: 500px;
  text-align: center;
  margin: 50px auto;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 50px;
  color: rgb(255, 255, 255);
}
.small-img {
  width: 100px;
}
.big-img {
  width: 500px;
  margin: 20px;
}
.loading {
  width: 100px;
}
.biodata{
  background-color: rgba(0, 0, 0, 0.521);
}
.top-btn{
  position: absolute;
  top: 0px;
  right: 150px;
}
.view {
  background-color: rgba(0, 0, 0, 0.521);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.hero-list {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 8rem;
  height: 10rem;
  background-color: rgba(0, 0, 0, 0.664);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
}

.hero:hover {
  transform: scale(0.95);
  color: rgb(131, 131, 131);
}
.title {
  color: rgb(241 255 29);
}
.block {
  /* display: flex; */
  /* flex-direction: column; */
  color: rgb(255, 255, 255);
  /* align-items: center; */
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 20px;
}
.prop{
  font-family: 'Roboto', sans-serif;
  color:rgb(41, 255, 22)
}
.biodata{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.back-btn{
  border-radius: 2px;
  text-decoration: none;
  width: 80px;
  text-align: center;
  padding: 10px;
  background-color: rgb(41, 255, 22);
}